.month-select {
  color: #555;
  width: 200px;
  background-color: #ccc;
  padding: 0px;
  border: 0px solid #999;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
